{{#if isLogin}}

<section class="myform-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-area login-form">
          <div class="form-content">
            <h2>Login</h2>
            <p>Login to stay on track with all car maintenance.
            </p>
            {{#if failedLogin}}
            <p class="login-message">Incorrect email or password, please try again.</p>
            {{/if}}

          </div>
          <div class="form-input">
            <form class="login-form">
              {{!-- <h2>Login Form</h2> --}}
              <div class="form-group">
                <input type="text" id="email-login" name="name" required>
                <label>Email</label>
              </div>
              <div class="form-group">
                <input type="password" id="password-login" name="password" required>
                <label>password</label>
              </div>
              <div class="myform-button">
                <button class="myform-btn">Login</button>
                <h6></h6>
                <a href="/signup"><button class="myform-btn" type="button">Sign Up</button></a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{else}}

<section class="myform-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-area login-form">
          <div class="form-content">
            <h2>Sign Up</h2>
            <p>Sign up to start tracking all car maintenance.
            </p>
            {{#if failedSignUp}}
            <p>There was an error creating your profile.</p>
            {{/if}}

          </div>
          <div class="form-input">
            <form class="signup-form">
              {{!-- <h2>Sign Up Form</h2> --}}
              <div class="form-group">
                <input type="text" id="username-signup" name="username" required>
                <label>Username</label>
              </div>
              <div class="form-group">
                <input type="text" id="email-signup" name="name" required>
                <label>Email</label>
              </div>
              <div class="form-group">
                <input type="password" id="password-signup" name="password" required>
                <label>password</label>
              </div>
              <div class="myform-button">
                <button class="myform-btn">Sign Up</button>
                <h6></h6>
                <a href="/"><button class="myform-btn" type="button">Login</button></a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{/if}}

<script src="./js/login.js"></script>