<h1 class="text-center">Welcome To Your Garage, {{username}}!</h1>

<section class="d-flex my-3" style="justify-content: space-around;">
  <h2 class="d-inline" id="carInfoStore" data-userid="{{user_id}}">Cars</h2>
  <div>
    <button class="btn btn-outline-secondary" id="createCarButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
        viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      Add Car
    </button>
  </div>
</section>
<section class="container">
  <section class="row justify-center">
    {{#each carsWithTasks as |car|}}
    {{> car-details}}
    {{/each}}
  </section>
</section>

<!-- Create Car Modal -->
<div class="modal fade" id="createCarModal" tabindex="-1" role="dialog" aria-labelledby="createCarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateCarModalLabel">Add New Car</h5>
      </div>
      <div class="modal-body">
        <!-- Car creation form -->
        <form>
          <label for="carMake">Make: </label>
          <input type="text" id="carMake" class="form-control">

          <label for="carModel">Model: </label>
          <input type="text" id="carModel" class="form-control">

          <label for="carYear">Year: </label>
          <input type="text" id="carYear" class="form-control">

          <label for="carMileage">Mileage: </label>
          <input type="text" id="carMileage" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createCarButtonModal">Add Car</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/userpage.js"></script>
