{{!-- Route for main somewhere in here --}}

<div class="garage">Welcome To Your Garage!</div>
<a href="/garage" class="card-link-wrapper hvr-grow">
    <div class="card-container">
        {{!-- This will be one car/vehicle, not sure if we want to make this into a partial, but for an MVP,
        this is to at least have something on the page, will add two more below --}}
        <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="/public/images/suvstock.jpg" class="card-img card-img-top" alt="SUV" />
                <div class="card-img-overlay" style="background-color: #9DB2BF">
                    <h5 class="card-title location-text">Parking Space 1</h5>
                </div>
            </div>
            <div class="card-body card-color">
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be a task
                    inserted</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be another
                    task</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>One last task</p>
                <hr class="hr" />
                {{!-- The p elements above can be replicated as needed, or used for user input with a bit of editing. My
                thought here is
                to layout the framework and if the user input is going to be in this section, we can tweak it instead of
                having a placeholder --}}
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="/public/images/sedanstock.jpeg" class="card-img card-img-top" alt="Sedan" />
                <div class="card-img-overlay" style="background-color: #9DB2BF">
                    <h5 class="card-title location-text">Parking Space 2</h5>
                </div>
            </div>
            <div class="card-body card-color">
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be a task
                    inserted</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be another
                    task</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>One last task</p>
                <hr class="hr" />
                {{!-- The p elements above can be replicated as needed, or used for user input with a bit of editing. My
                thought here is
                to layout the framework and if the user input is going to be in this section, we can tweak it instead of
                having a placeholder --}}
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="/public/images/pickupstock.jpg" class="card-img card-img-top" alt="Pickup" />
                <div class="card-img-overlay" style="background-color: #9DB2BF">
                    <h5 class="card-title location-text">Parking Space 3</h5>
                </div>
            </div>
            <div class="card-body card-color">
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be a task
                    inserted</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>This can be another
                    task</p>
                <hr class="hr" />
                <p class="card-text card-text-color"><i class="bi bi-person-circle card-icon"></i>One last task</p>
                <hr class="hr" />
                {{!-- The p elements above can be replicated as needed, or used for user input with a bit of editing. My
                thought here is
                to layout the framework and if the user input is going to be in this section, we can tweak it instead of
                having a placeholder --}}
            </div>
        </div>