:root {
  /* We can change the names of the element as needed, just want to put placeholders in to start calling if needed */
  --primary-color60: #dde6ed;
  --secondary-color30: #9db2bf;
  --tertiary-color10: #27374d;
}

