:root {
    /* We can change the names of the element as needed, just want to put placeholders in to start calling if needed */
    --primary-color60: #DDE6ED;
    --secondary-color30: #9DB2BF;
    --tertiary-color10: #27374D;



}

body {
    position: relative;
    background-color: var(--primary-color60);
}

.navbar {
    background-color: var(--secondary-color30);
}

.navbar-brand {
    color: var(--tertiary-color10);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin-right: 0px;
    text-align: left;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 1rem;
  }

  .container {
    margin-left: auto;
  }

  footer {
    margin-top: 2rem;
  }

  @media (max-width: 791px) {
    .navbar-brand {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }